@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P";
  color: #eee;
  background-color: #222;
}

header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.colour {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.combine {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 1rem;
}

.options {
  font-size: 2rem;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 35%;
  }

  header {
    height: 25vh;
    border-bottom: 5px solid #eee;
  }

  main {
    flex-direction: column;
    height: auto;
    padding: 2rem 1rem;
  }

  .left,
  .right {
    width: 100%;
    text-align: center;
  }

  .left {
    margin-top: 20px;
  }
  .right {
    font-size: 1.6rem;
    margin-top: 2rem;
  }

  h1 {
    font-size: 2.8rem;
    top: 40%;
  }

  .colour {
    font-size: 4rem;
    width: 12rem;
    padding: 2rem 0;
  }

  .combine,
  .again {
    font-size: 1.2rem;
    top: 1rem;
  }

  .options {
    font-size: 1.6rem;
  }

  .message {
    margin-bottom: 4rem;
  }

  .label-score {
    margin-bottom: 1rem;
  }
}
